@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:400,700&subset=latin,vietnamese,latin-ext);

#menu-5 .navbar-toggler {
  color: #000000;
}
#menu-5 .nav-link {
  font-size: 16px;
  font-family: 'Alegreya Sans', sans-serif;
}
#header1-12 P {
  font-size: 30px;
}

#menu-6 .navbar-toggler {
  color: #000000;
}
#menu-6 .nav-link {
  font-size: 16px;
  font-family: 'Alegreya Sans', sans-serif;
}
#msg-box3-18 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-18 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-18 .mbr-section-title {
  font-size: 30px;
}
#msg-box3-16 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-16 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-16 .mbr-section-title {
  font-size: 30px;
}

#menu-m .navbar-toggler {
  color: #000000;
}
#menu-m .nav-link {
  font-size: 16px;
  font-family: 'Alegreya Sans', sans-serif;
}
#msg-box4-1d .mbr-section-title {
  text-align: center;
  font-size: 24px;
}
#msg-box4-1f .mbr-section-title {
  font-size: 24px;
  text-align: center;
}
#msg-box4-1i .mbr-section-title {
  font-size: 24px;
}

#menu-2 .navbar-toggler {
  color: #000000;
}
#menu-2 .nav-link {
  font-size: 16px;
  font-family: 'Alegreya Sans', sans-serif;
}
#slider-w H2 {
  font-size: 84px;
}
#slider-w P {
  font-size: 30px;
  text-align: left;
  color: #000000;
}

#menu-y .navbar-toggler {
  color: #000000;
}
#menu-y .nav-link {
  font-size: 16px;
  font-family: 'Alegreya Sans', sans-serif;
}
#slider-z P {
  font-size: 30px;
  text-align: left;
}
#header1-0 P {
  color: #000000;
}

#menu-1 .navbar-toggler {
  color: #000000;
}
#menu-1 .nav-link {
  font-size: 16px;
  font-family: 'Alegreya Sans', sans-serif;
}
#header1-x H1 {
  color: #000000;
}
#header1-x P {
  color: #fff8e0;
}
